body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  background-image: url('../images/wall3.jpg');
}

nav{
  margin-top: 5px;
  margin-bottom: -100px;
}

#imgnav{
  float: left;
  margin-right: 0px;
  padding: 5px;



}
#imgnav img{
  width: 70px;
}

.navbar-header button{
  margin-top: 20px;
}

.navbar-collapse ul{
  margin-top: 10px;
}

section{
  background-color: #D8D8D8;
  margin-top: 0px;
}

#search:hover{
  background-color: #D8D8D8;

}

#sbut{
  margin-left:20px;
}

.panelblog{
  width: 99%;
  display: inline-block;
}

.panelateral{
  width: 29%;
  display: none;
  float: right;
}




footer{
  margin-top: 5px;
  height: 40px;
  background-color: #555;
  color:#D8D8D8;
  line-height: 50px;
  text-align: center;
  font-style: 0.8em;
  line-height: 50px;
}

/********dispositivos**********/


@media screen and (min-width: 480px){

}

@media screen and (min-width: 767px){
  .panelateral{
    display:inline-block;;
  }
  .panelblog{
    width: 70%;
  }

}

@media screen and (min-width: 950px){

  body{
    margin: 5px 5% 0px 5%;
  }
  .panelateral{
    display:inline-block;;
  }
  .panelblog{
    width: 70%;
  }
}
